/* Styles for Register page */
.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50dvh;
    width: 100svw;
}

.title {
    margin: 0;
    width: 90svw;
    text-align: start;
    color: var(--foot-color);
    font-size: 15px;
    font-weight: 300;
}

.fieldsetRole {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fieldsetRole .box {
    cursor: pointer;
    transition: border 0.2s ease;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: auto;
    width: 80svw;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--quaternary-color);
    border: 2px solid transparent;
    will-change: transform;
    overflow: hidden;
    margin: 0.5rem;
}

.box.active {
    border: 2px solid var(--secondary-color);
}

.box h3,
.box p {
    text-indent: 30px;
    margin: 0;
}

.box p {
    font-size: 15px;
    font-weight: Medium;
}
