.basement {
    position: fixed;
    bottom: 0;
    width: 100svw;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 1rem;
}

.basement a {
    margin-right: 1rem;
}

.link {
    width: 57px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    border-radius: 20px;
    margin: 0.7rem;
}

.link img {
    width: 16px;
    height: 16px;
}
