.button {
    background-color: var(--foot-color);
    color: var(--primary-color);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 90svw;
    line-height: 1.6;
    text-decoration: none;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button h3 {
    font-weight: 600;
    line-height: 0;
}

.active {
    background-color: var(--secondary-color);
}

@media (min-width: 1200px) {
    .button {
        width: 30svw;
    }
}
