/* Styles for Register page */
.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100svw;
}

.title {
    margin: 0;
    width: 90svw;
    text-align: start;
    color: var(--foot-color);
    font-size: 15px;
    font-weight: 300;
}

.fieldsetCard {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100svw;
    align-items: center;
}

.fieldsetCard .box {
    cursor: pointer;
    transition: border 0.2s ease;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 80svw;
    height: auto;
    border-radius: 20px;
    background-color: var(--quaternary-color);
    border: 2px solid var(--secondary-color);
    will-change: transform;
    overflow: hidden;
    margin: 0.5rem;
    padding: 16px;
}

.box.active {
    border: 2px solid var(--tertiary-color);
}

.additional {
    color: #a1a1a1;
}

.box h3,
.box p {
    margin: 0;
    text-indent: 0;
    margin-top: 0.4rem;
}

.box p {
    font-size: 15px;
    text-align: start;
    font-weight: Medium;
}

.black {
    color: black;
}

.green {
    color: #2be563;
}

.box img {
    width: 100%;
    border-radius: 10px;
}

.basementIndent {
    height: 10svh;
}

.description {
    color: var(--foot-color);
}