.input {
    background-color: var(--quaternary-color);
    color: black;
    border: 1.5px solid var(--secondary-color);
    cursor: pointer;
    width: 90svw;
    line-height: 3rem;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-indent: 22px;
    margin-top: 1rem;
    mask-image: paint(smooth-corners);
    border-radius: 20px;
}

@media (min-width: 1200px) {
    .input {
        width: auto;
    }
}
