/* Styles for Register page */
.main {
    height: 50dvh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100svw;
}

.title {
    margin: 0;
    width: 90svw;
    text-align: start;
    color: var(--foot-color);
    font-size: 15px;
    font-weight: 300;
}

.fieldset {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    column-gap: 2svw;
    border-radius: 6px;
    will-change: transform;
    margin-top: 1rem;
}

.separator {
    height: 14svw;
    width: 5svw;
}

.box {
    position: relative;
    display: flex;
    height: 14svw;
    width: 11svw;
    border-radius: 20px;
    background-color: var(--quaternary-color);
    border: 2px solid var(--secondary-color);
    will-change: transform;
    overflow: hidden;
}

.box:focus-within {
    border: 2px solid var(--tertiary-color);
}

.field {
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 25.21px;
    color: var(--text-color);
    background-color: transparent;
    text-align: center;
}
