:root {
    font-family: 'Inter', sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    font-weight: 400;
    line-height: 1.5;
    padding: 0;

    /* 
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

    /* Colors */
    --text-color: #000000;
    --primary-color: #ffffff;
    --secondary-color: #0a66ff;
    --tertiary-color: #ff7f1c;
    --quaternary-color: #f9f9f9;
    --foot-color: #5e5e5e;
}

a {
    color: var(--text-color);
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
}

h1 {
    text-align: left;
    width: 90svw;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

@media (min-width: 1200px) {
    h1 {
        width: 90%;
    }
}
