.pageSeparator {
    height: 50dvh;
    width: 100svw;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.pageSeparator h4 {
    margin: 0.5rem;
}

.logoText {
    line-height: 1;
    font-weight: 400;
    line-height: 160%;
}

.login {
    color: var(--tertiary-color);
}

@media (min-width: 1200px) {
    .pageSeparator {
        height: 20dvh;
        width: 100svw;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }
}
