.header {
    top: 0.5dvh;
    position: fixed;
    width: 100svw;
    height: 20dvh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.header_button {
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 50%;
    border: 0;
}

.main {
    background-color: #8f00ff;
    width: 100svw;
    height: 100dvh;
}

.basement {
    height: 40dvh;
    width: 100svw;
    background-color: white;
    position: relative;
    top: 57dvh;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.basement_h1 {
    margin-top: 1rem;
    height: 5dvh;
}

.box {
    display: flex;
    line-height: 0.7rem;
    color: 
}

.basement_button {
    margin-top: 1rem;
    width: 80svw;
    height: 6dvh;
    border-radius: 20px;
    border: 0;
    background-color: black;
    color: white;
}

.logo {
    position: fixed;
    width: 100svw;
    top: 20dvh;
}
